VITE_FIREBASE_API_KEY="AIzaSyACgM8nNutSes-h7RU65CXh9BQNDL--ow"
VITE_FIREBASE_AUTH_DOMAIN="b12-a10-category-0014.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="b12-a10-category-0014"
VITE_FIREBASE_STORAGE_BUCKET="b12-a10-category-0014.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="532811329685"
VITE_FIREBASE_APP_ID="1:532810329685:web:41b1a8e912c548e8dc6edc"

# API Configuration
VITE_API_URL=https://b12a10-server.vercel.app

# ImgBB API Key for image uploads
VITE_IMGBB_API_KEY=your_imgbb_api_key_here
